<div class="Homepage-studySet">
  <div class="SetPreview">
    <div class="UILinkBox">
      <div class="UILinkBox-inner">
        <div class="PreviewCardByline">
          <span class="SetPreview-cardBylineTermsCount"><%= study_set.flash_cards.count %> terms</span>
          <span class="UIVerticalRule UIVerticalRule--onWhite"></span>
          <div class="SetPreview-cardBylineCreator">
            <div class="UserLink">
              <div class="UserLink-inner">
                <div class="UserLink-avatar">
                  <a class="UILink" href="<%= user_path(study_set.owner) %>">
                    <span class="UserAvatar" style="background-image:url(<%= study_set.owner.image %>);height:16px;width:16px;"></span>
                  </a>
                </div>
                <div class="UserLink-content">
                  <a class="UILink" href="<%= user_path(study_set.owner) %>" >
                    <span class="UserLink-username"><%= study_set.owner.email %></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header class="SetPreview-cardHeader">
          <span class="SetPreview-cardHeaderTitle"><%= study_set.title %></span>
        </header>
      </div>
      <div class="UILinkBox-link">
        <a class="UILink" data-sourcename="homepage-set-preview" href="<%= study_set_path(study_set) %>"></a>
      </div>
    </div>
  </div>
</div>
