<%= render :partial => "jumbotron", locals: { study_set: @study_set, flash_cards: @flash_cards }%>

  <div class="study-sets-container">

    <div class="row">
      <%= render :partial => "sort_controls", locals: { study_set: @study_set, sort: @sort }%>
    </div><!-- row -->

    <div class="row" id="study-sets">
      <% @flash_cards.each do |card| %>
        <%= render partial: 'flash_card', locals: {flash_card: card} %>
      <% end %>

      <h3>Ready to study?</h3>
      <button id="studyMode" data-id="<%= @study_set.id %>" data-owner-id="<%= @study_set.owner.id %>" class="btn btn-default" name="button">Study mode</button>
    </div>
  </div><!-- study-sets-container -->

<br>
<br>

<script id="studyMode-template" type="text/x-handlebars-template">
  <h2>Study mode</h2>
  <p><a href="/users/{{owner_id}}/study_sets/{{id}}">Back</a></p>
  <p><a href="/users/{{owner_id}}/study_sets/{{id}}">Back</a></p>
</script>
