<%= render :partial => "jumbotron", locals: { study_set: @study_set, flash_cards: @flash_cards }%>

  <div class="study-sets-container">

    <div class="row" id="study-sets">
      <%= render :partial => "sort_controls", locals: { study_set: @study_set, sort: @sort }%>
      <button id="addFlashCardButton" class="btn btn-default">Add flash card</button>
      <br>
      <br>
      <div id="addFlashCard" class="hidden">
        <h3>New flash card</h3>
        <%= form_for @flash_card do |f| %>
          <div class="form-group">
            <%= f.label :term %>
            <%= f.text_field :term, class: "form-control" %>

            <%= f.label :definition %>
            <%= f.text_field :definition, class: "form-control" %>
            <br><br>
            <input type="submit" name="commit" value="Submit" class="btn btn-default">
          </div>
        <% end %>
      </div>
      <% @flash_cards.each do |card| %>
        <%= render partial: 'flash_card', locals: {flash_card: card} %>
      <% end %>

      <h3>Ready to study?</h3>
      <button id="studyMode" data-id="<%= @study_set.id %>" data-owner-id="<%= @study_set.owner.id %>" class="btn btn-default" name="button">Study mode</button>
    </div> <!-- row -->
  </div><!-- study-sets-container -->

<br>
<br>

<script id="studyMode-template" type="text/x-handlebars-template">
  <h2>Study mode</h2>
  {{#each flashCards}}
    <div class="flip">
      <div class="card">
        <div class="face front">{{term}}</div>
        <div class="face back">{{definition}}</div>
      </div>
    </div>
  {{/each}}
  <p><a href="/users/{{ownerId}}/study_sets/{{id}}">Back</a></p>
</script>
