<%= render :partial => "jumbotron", locals: { study_set: @study_set, flash_cards: @flash_cards }%>

  <% if @study_mode %>

    <h2>Study mode</h2>
    <p><%= link_to "Back", user_study_set_path(@study_set.owner, @study_set)%></p>
    <% @flash_cards.each do |card| %>
      <%= render partial: "flash_card_flip", locals: {flash_card: card} %>
    <% end %>
    <p><%= link_to "Back", user_study_set_path(@study_set.owner, @study_set)%></p>

  <% else %>

    <div class="study-sets-container">

      <div class="row">
        <%= render :partial => "sort_controls", locals: { study_set: @study_set, sort: @sort }%>
      </div><!-- row -->

      <% @flash_cards.each do |card| %>
        <%= render partial: 'flash_card', locals: {flash_card: card} %>
      <% end %>

      <%= render :partial => "study_mode_button", locals: { study_set: @study_set } %>
      
    </div><!-- study-sets-container -->

  <% end %>

<br>
<br>

<script type="text/javascript">
  $('.flip').click(function(){
      $(this).find('.card').toggleClass('flipped')
      return false;
  });
</script>
