
<div class="jumbotron" id="study-set-title">
  <span class="flash-card-count"><%= pluralize(@flash_cards.count, "flash card") %></span>
  <span class="separator"> | </span><span class="study-set-owner"><%= @study_set.owner.email %></span>
  <h1><%= @study_set.title %></h1>
  <h2><%= @study_set.description if @study_set.description %></h2>
  <% if user_signed_in? && @study_set.owner != current_user %>
    <span class="copy-this"><%= link_to "Copy this", "/study_sets/#{@study_set.id}/copy", method: "post" %></span>
  <% end %>
</div>


<div class="study-sets-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sort-controls">
        <%= form_tag "/study_sets/#{@study_set.id}/sort" do %>
          <div class="form-group">
            <label for="sort">Sort</label>
            <%= select_tag "sort", options_for_select(["Original", "Alphabetical"], params[:sort] || "Original"), class: "form-control", :onchange => ("javascript: this.form.submit();") %>
          </div>
        <% end %>
      </div>
    </div> <!-- col-md-3 -->
    <div class="col-md-3">
        <div class="sort-controls">
          <div class="form-group">
            <label for="sort">Filter</label>
            <select class="form-control" id="sort">
              <option>All</option>
              <option>Starred (1)</option>
            </select>
          </div>
        </div>
      </div> <!-- col-md-3 -->
    <div class="col-md-6">
    </div>
  </div><!-- row -->

  <% @flash_cards.each do |card| %>
    <%= render partial: 'flash_card', locals: {flash_card: card} %>
  <% end %>

</div><!-- study-sets-container -->
