<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <% if @folder.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@folder.errors.count, "error") %> prohibited this article from being saved:</h3>
        <ul>
          <% @folder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for [current_user, @folder] do |f| %>

      <div class="form-group">
        <%= f.label "name"%>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.collection_check_boxes :study_set_ids, current_user.study_sets, :id, :title do |b| %>
          <%= b.label %>
          <%= b.check_box %> <br>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
