<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= "Welcome" if @user == current_user %> <%= "Profile for" if @user != current_user %> <span id="user-email-h1"><%= @user.email %></span></h1>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <%= render :partial => "study_sets", locals: {user: @user, study_sets: @study_sets} %>
    </div>
    <div class="col-md-4">
      <%= render :partial => "folders", locals: {folders: @folders, user: @user} %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="crud-links">
        <br>
        <%= link_to "Back", root_path %>
        <% if current_user == @user %>
          | <%= link_to "Edit account", edit_user_registration_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
