<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= "Welcome" if @user == current_user %> <%= "Profile for" if !current_user %> <span id="user-email-h1"><%= @user.email %></span></h1>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <h2>Study Sets</h2>
      <% @study_sets.each do |study_set| %>
        <p><%= study_set.title %></p>
      <% end %>
      <div class="crud-links">
        <%= link_to "New study set", new_study_set_path if current_user == @user %>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Folders</h2>
      <% @folders.each do |folder| %>
        <p><%= link_to folder.name, folder_path(folder) %></p>
      <% end %>
      <%= link_to "New folder", new_folder_path if current_user == @user %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="crud-links">
        <%= link_to "Back", root_path %>
        <% if current_user == @user %>
          | <%= link_to "Edit account", edit_user_registration_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
